@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #d1cece;
    padding: 1rem 2rem;
    position: relative;
}

.heading {
    margin-bottom: 15px;
}

.new-task {
    margin: 0px 5px;
    padding: 3px 8px;
    background: #933fe1;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    border-radius: 3px;
}

.sm-heading {
    margin: 3px 0px;
}

.row {
    display: flex;
    margin-top: 20px;
}

.tasks-div {
    flex: 1;
}

.tasks {
    max-width: 60%;
}

.task-row-heading {
    background: #c3c1c1;
    padding: 5px 8px;
    margin-bottom: 25px;
}

.task-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
